.places {
    width: 100%;
}

.places h1 {
    margin-bottom: 0;
}

.places h1,
.places article h2 {
    font-size: 30px;
    
}

.places article h2 {
    margin: 0;
    text-align: center;
}

.places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

.price_by_night {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FF5A5F;
    font-size: 30px;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
    width: 100px;
}

.information .max_guest {
    background: url('../images/icon_group.png') center no-repeat;
}

.information .number_rooms {
    background: url('../images/icon_bed.png') center no-repeat;
}

.information .number_bathrooms {
    background: url('../images/icon_bath.png') center no-repeat;
}

.information p {
    text-align: center;
    padding-top: 45px;
}

.places .amenities-li,
.places .reviews {
    margin-top: 40px;
}

.places .amenities-li h2,
.places .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 10px;
}

.amenities-li ul,
.reviews ul {
    list-style: none;
    padding-left: 0;
}

.amenities-li li {
    position: relative;
    padding-left: 40px; /* Create space for the icon */
    line-height: 1.5;
    font-size: 16px;
    color: #333;
}

.amenities-li li:not(:last-of-type) {
    margin-bottom: 5px;
}

.amenities-li li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px; 
    height: 24px; 
    background-size: cover; 
}

.amenities-li .tv::before {
    background-image: url("../images/icon_tv.png");
}

.amenities-li .wifi::before {
    background-image: url("../images/icon_wifi.png");
}

.amenities-li .pets-friendly::before {
    background-image: url("../images/icon_pets.png");
}

.reviews h3 {
    font-size: 14px;
    margin-bottom: 0;
}

.reviews p {
    font-size: 12px;
    margin-top: 5px;
}

.reviews li:not(:last-of-type) {
    margin-bottom: 20px;
}